.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

hr {
    border: none;
    border-top: 1px solid black;
    color: #333;
    background-color: #333;
    height: 1px;
    width: 100%;
}

/* Style for the character container */
.grid-container {
    text-align: center; /* Center the content within the container */
}

/* Style for the character portrait image */
.grid-container img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    display: block; /* Make the image a block element for better positioning */
    margin: 0 auto; /* Center the image horizontally */
}

/* Style for the character name label */
.grid-container label {
    display: block; /* Make the label a block element to appear below the image */
    margin-top: 5px; /* Adjust the margin as needed */
}

.grid-container input[type="checkbox"] {
    display: none;
}

/* Style for the character container when checkbox is checked */
.grid-container input[type="checkbox"]:checked + img {
    border: 2px solid green; /* Change border color when checked */
}